* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    height: 100%;
    background: #1B1A1A;
}

.up_chast {
    display: flex;
}


.uo_chast_block2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.uo_chast_block3 {
    margin-top: 16px;
    margin-right: 10px;
}

.uo_chast_block4 {
    margin-top: 16px;
    margin-right: 12px;
}

.empty_frie_and_five {
    display: flex;
    margin-left: 20px;
    margin-top: 12px;
}

.empty_frie_and_five2 {
    display: flex;
    margin: 0 0 0 auto;
    margin-right: 20px;
}

.sam_centr_block {
    color: #fff;
    text-align: center;
    
}

.time_zap {
    font-size: 44px;
}

.invite_but_lobby {
    margin-top: 15px;
}

.empty_two_and_six {
    display: flex;
    margin-left: 20px;
    margin-top: 52px;
}

.empty_two_and_six2 {
    display: flex;
    margin: 0 0 0 auto;
    margin-right: 20px;
}

.footer_block {
    background: #292929;
    height: 130px;
    margin-top: 70px;
}

.invite_block_footera {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.invite_block_footera_buts {
    margin-left: 20px;
}

.leave_but_block {
    margin-top: 8px;
}