/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    height: 100%;
    background: #111111;
}

header {
    background: #292929;
    height: 92px;
}

main {
    background: #111111;
}

footer {
    background: #1B1A1A;
    height: 72px;
    margin-top: 24px;
}

.footer_block {
    display: flex;
    justify-content: center;
}

.header_block {
    display: flex;
    padding-top: 20px;
    padding-left: 12px;
}

.head_block_doch {
    width: 33%;
}

.logo_block {
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
}

.rooms_text {
    color: #fff;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
}

.opean_and_private {
    margin-top: 20px;
    width: 366px;
    height: 44px;
    background: #292929;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    display: flex;
}

.list_room {
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
}

.sam_list {
    margin-top: 12px;
}