/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body {
    height: 100%;
}

header {
    background: #292929;
    height: 92px;
}

main {
    background: #111111;
}

footer {
    background: #1B1A1A;
    height: 72px;
}

.footer_block {
    display: flex;
    justify-content: center;
}

.header_block {
    display: flex;
    padding-top: 20px;
    padding-left: 12px;
}

.head_block_doch {
    width: 33%;
}

.logo_block {
    display: flex;
    justify-content: center;
}

.avatar {
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
}

.card{
    text-align: center;
    margin: auto;

    width: 390px;
}

.creat_game_text {
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 24px;
}

.begin_but {
    background: #FEBF21;
    color: #000;
    width: 266px;
    height: 48px;
    font-size: 25px;
    border-radius: 25px;
    margin-top: 26px;
    margin-bottom: 10px;
}

.private_game_block {
    display: flex;
}

.private_game_text {
    color: #FFFFFF;
    font-size: 22px;
    margin-left: 20px;
}

.swith_block {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 150px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FEBF21;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FEBF21;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.amount_block {
    margin-top: 12px;
    display: flex;
    margin-left: 20px;
}

input[type="text"] {
    padding: 10px; /* Отступ внутри поля ввода */
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #FEBF21; /* Рамка поля ввода */
    border-radius: 12px; /* Закругленные углы */
    margin-right: 10px; /* Отступ между полем ввода и кнопкой */
}

.reset-button {
    background: none; /* Убираем фон кнопки */
    border: none; /* Убираем рамку кнопки */
    color: rgb(255, 255, 255); /* Цвет текста для кнопки */
    cursor: pointer; /* Указываем на возможность клика */
    font-size: 16px; /* Размер шрифта */
    text-decoration: underline; /* Подчеркиваем текст */
    margin-left: 12px;
}


.input_summ {
    width: 138px;
    height: 44px;
    color: #FFFFFF;
}

.min_1_ton_text {
    color: #514d4d;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
}

.players_block {
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.igrok_text {
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}

.but_players {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 40px;
    padding: 0;
}

.but_players:active {
    background-color: #3B403F99;
}

.highlight {
    background-color: #FEBF21 !important;
}

.amount_players {
    background: #3B403F99;
    border-radius: 12px;
    margin-top: 12px;
}

.cart_colods {
    background: #3B403F99;
    border-radius: 12px;
    width: 191px;
    height: 40px;
}

.card_col_block {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.card_col_text {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 12px;
}

.mode_text {
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}

.mode_game {
    margin-left: 20px;
    margin-top: 24px;
}

.mode_game_two {
    display: flex;
}

.mode_game_2_block {
    display: flex;
    margin-top: 12px;
}

.podkid_and_perevod {
    display: flex;
}

.sosedi_and_all {
    display: flex;
    margin-left: 40px;
}

.perevod_block {
    margin-left: 6px;
}

.all_gams_block {
    margin-left: 6px;
}